name: Build and Push Docker Image

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: false
        default: 'latest'

jobs:
  build-docker:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Needed for creating releases
      packages: write  # For pushing to GitHub Packages
      id-token: write  # For OIDC trusted publishing
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set version
        id: version
        run: |
          VERSION=${{ github.event.inputs.version || 'latest' }}
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64, linux/arm64
          push: true
          tags: |
            chengjiale150/bananalecture:${{ steps.version.outputs.VERSION }}
            chengjiale150/bananalecture:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max